{% load static %}

<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8">
		<title>Edycja wyrażenia</title>
		<link rel="stylesheet" type="text/css" href="{% static 'global-styles.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'editor-styles.css' %}">
		<script>
			MathJax = {
				tex: {
					inlineMath: [['$', '$'], ['\\(', '\\)']]
				},
				svg: {
					fontCache: 'global'
				}
			};

			let timeout = null;
			function OnFormulaChanged() {
				if (timeout)
					clearTimeout(timeout)
				timeout = setTimeout(UpdateFormulaPreview, 10)
			}

			function UpdateFormulaPreview() {
				document.querySelector('#editor > div').textContent = document.querySelector('#editor > textarea').value;
				MathJax.typeset();
				timeout = null;
			}
		</script>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	</head>
	<body>
		<form action="{% url 'save' %}" method="post">
			{% csrf_token %}
			<input type="text" name="title" id="title" placeholder="Tytuł" value="{{ formula.title }}">
			<section id="editor">
				<textarea placeholder="Wprowadź wyrażenie" name="text" onkeyup="OnFormulaChanged()">{{ formula.text }}</textarea>
				<div>{{ formula.text }}</div>
			</section>
			<section>
				<a href="/home" class="field button">Odrzuć</a>
				<input type="submit" value="Zapisz" class="field button"/>
			</section>
			<input type="hidden" name="id" value="{{ formula.id }}">
		</form>
	</body>
</html>
