{% load static %}

<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8">
		<title>Profil</title>
		<link rel="stylesheet" type="text/css" href="{% static 'global-styles.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'home-styles.css' %}">
		<script>
			MathJax = {
				tex: {
					inlineMath: [['$', '$'], ['\\(', '\\)']]
				},
				svg: {
					fontCache: 'global'
				}
			};
		</script>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	</head>
	<body>
		<section>
			<span>Użytkownik:&nbsp;&nbsp;<strong>{{ request.user.username }}</strong></span>
			<form action="{% url 'logout' %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Wyloguj" class="field button"/>
			</form>
		</section>
		{% if messages %}
			{% for message in messages %}
				<span class="msg-{{ message.tags }}">{{ message }}</span>
			{% endfor %}
		{% endif %}
		<div>
			{% if formulas %}
			<section class="formulas">
				<span>Moje wyrażenia</span>
				{% for formula in formulas %}
					<a href="/edit/{{ formula.id }}/" class="formula">
						<div>
							<span>Tytuł:</span>
							{{ formula.title }}
						</div>
						<div>
							<span>Treść:</span>
							{{ formula.text }}
						</div>
					</a>
				{% endfor %}
			</section>
			{% endif %}
			{% if other_formulas %}
				<section class="formulas">
					<span>Zarządzanie wyrażeniami</span>
					{% for formula in other_formulas %}
						<div class="formula">
							<div>
								<span>Tytuł:</span>
								{{ formula.title }}
							</div>
							<div>
								<span>Treść:</span>
								{{ formula.text }}
							</div>
						</div>
					{% endfor %}
				</section>
			{% endif %}
		</div>
	</body>
</html>
