{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Edytor formuł matematycznych</title>
		<link rel="stylesheet" type="text/css" href="{% static 'global-styles.css' %}">
	</head>
	<body>
		{% if messages %}
			{% for message in messages %}
				<span class="msg-{{ message.tags }}">{{ message }}</span>
			{% endfor %}
		{% endif %}
		<form action="{% url 'auth' %}" method="post">
			{% csrf_token %}
			<input type="text" name="username">
			<input type="text" name="password">
			<input type="submit" name="singIn" value="Stwórz konto"/>
			<input type="submit" name="logIn" value="Zaloguj"/>
		</form>
	</body>
</html>
