form {
	height: 100%;
}

#editor {
	display: flex;
	height: calc(100% - 2em);
	font-size: 1.2em;
	font-family: monospace, monospace;
}

#editor > textarea {
	resize: none;
	border: none;
	background-color: #222;
	color: #FFF;
	outline: 0;
}

#editor > div, section:nth-of-type(2) > *:first-child {
	background-color: #cddae4;
	color: #222;
}

#editor > * {
	width: 50%;
	height: 100%;
	overflow-y: auto;
	font: inherit;
	padding: 1em;
	box-sizing: border-box;
}

section:nth-of-type(2) {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

section:nth-of-type(2) > * {
	margin: 1em 2em;
	cursor: pointer;
	text-decoration: none;
}


section:nth-of-type(2) > *:last-child {
	background-color: #222;
	color: #cddae4;
}

form > #title {
	padding: .4em .8em;
	font-size: 1.2em;
	font-family: monospace, monospace;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	background-color: #9eacb7;
}
