form {
	height: 100%;
}

.top-bar {
	background-color: #0567e8;
}

.top-bar > #title {
	font-size: 1.2em;
	font-family: monospace, monospace;
	width: 100%;
	color: white;
	box-sizing: border-box;
	text-align: center;
	background-color: transparent;
}

.top-bar > #title::placeholder {
	color: #ddd;
}

#editor {
	display: flex;
	height: calc(100% - 2em);
	font-size: 1.2em;
	font-family: monospace, monospace;
}

#editor > textarea {
	resize: none;
	border: none;
	background-color: #222;
	color: #FFF;
	outline: 0;
}

#editor > div, section:nth-of-type(2) > *:first-child {
	background-color: #cddae4;
	color: #222;
}

#editor > * {
	width: 50%;
	height: 100%;
	overflow-y: auto;
	font: inherit;
	padding: 1em;
	box-sizing: border-box;
}

#navigation {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

#navigation > * {
	margin: 1em 2em;
	text-decoration: none;
	fill: #222;
	background-color: #cddae4;
}

#navigation > *:last-child {
	background-color: #222;
	fill: #cddae4;
}
