body {
	background-color: white;
}

body > section:first-of-type {
	width: 100%;
	padding: .5em .8em;
	box-sizing: border-box;

	display: flex;
	justify-content: space-between;

	z-index: 1;
	background-color: #0567e8;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

body > section:first-of-type > span {
	display: inline-flex;
	align-items: center;
	align-content: center;
	color: white;
	font-size: 1.1em;
}

body > div:first-of-type {
	display: flex;
	justify-content: center;
	margin: 1em 10% 0;
}

.formulas > span:first-child {
	font-size: 1.1em;
	margin-bottom: 1em;
	text-align: center;
}

.formulas {
	padding: 1em;
	flex-grow: 1;
	max-width: 100%;
}

.formula {
	display: flex;
	margin: .4em .8em;
	padding: .4em .8em;
	max-height: 12em;
	border-radius: 4px;

	text-decoration: none;
	color: #011f4c;
	background-color: #eff4fb;
	border: 2px solid #99bcd83d;
	box-shadow: 0 3px 6px rgba(0,0,0,0.04), 0 3px 6px rgba(0,0,0,0.05);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.formula:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.12);
	z-index: 1;
}

.formula > div > span:first-of-type {
	color: #9eacb7;
	font-size: .7em;
}

.formula > div:first-of-type {
	margin-right: 1em;
	width: 20%;
}
